@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nav-inner-wrapper {
    display: table;
    height: 45px;
    width: 1220px;
  }

  .nav-inner-wrapper {
    .logo-wrapper {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      width: 20%;
    }
  }

  .nav-inner-wrapper {
    ul {
      display: table-cell;
      text-align: right;
      width: 80%;
    }
  }

  .site-wrapper {
    display: table;
  }

  .site-wrapper {
    aside,
    section {
      display: table-cell;
    }

    aside {
      vertical-align: top;
    }
  }
}
