.modal-wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .modal-form {
    background-color: #fff;
    height: auto;
    left: 0;
    margin: auto;
    padding: {
      bottom: 20px;
      left: 30px;
      right: 30px;
      top: 30px;
    }
    position: absolute;
    right: 0;
    top: 140px;
    width: 300px;

    @include breakpoint(sm) {
      height: 275px;
      width: 450px;
    }

    .header-text {
      font: {
        size: 28px;
        weight: 300;
      }
      margin-bottom: 40px;
    }

    .close-wrapper {
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .input-wrapper {
      margin-bottom: 20px;

      label {
        color: #505050;
        font: {
          size: 14px;
          weight: bold;
        }
        margin-right: 20px;
      }

      input {
        border: 1px solid $color-brand-blue;
        height: 35px;
        padding-left: 15px;
        width: 200px;

        @include breakpoint(sm) {
          width: 295px;
        }
      }
    }

    .submit-wrapper {
      text-align: center;

      @include breakpoint(sm) {
        text-align: right;
      }
    }
  }
}
