nav {
  background-color: $color-brand-blue;

  .nav-inner-wrapper {
    align-items: center;
    display: flex;
    height: 45px;
    justify-content: space-between;
    position: relative;
    z-index: 11;
  }

  .mobile-menu-trigger {
    align-items: center;
    background-color: transparent;
    border: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 30px;
    outline: none;
    position: relative;
    transform: translateY(8px);
    width: 30px;
    z-index: 10;

    @include breakpoint(sm) {
      display: none;
    }

    span {
      background-color: #d7d7d7;
      display: block;
      height: 3px;
      margin: 5px 0;
      position: absolute;
      transition: transform 200ms linear;
      width: 30px;

      &:nth-child(1) {
        transform: translateY(-8px) rotate(0);
      }

      &:nth-child(2) {
      }

      &:nth-child(3) {
        transform: translateY(8px) rotate(0);
      }
    }

    &.active {
      transition: transform 200ms linear;
      span {
        &:nth-child(1) {
          transform: translateY(0) rotate(-45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(0) rotate(45deg);
        }
      }
    }
  }

  .logo-wrapper {
    display: inline-block;
  }

  .mobile-menu-wrapper {
    background-color: $color-brand-blue;
    height: 260px;
    left: 0;
    margin: 0;
    overflow-y: hidden;
    padding: {
      bottom: 0;
      left: 0;
      right: 0;
      top: 15px;
    }
    position: absolute;
    top: 45px;
    transform: translateY(-300px);
    transition: transform 300ms ease-in-out;
    width: 100%;
    z-index: 10;

    @include breakpoint(sm) {
      display: none;
    }

    &.active {
      transform: translateY(0px);
      transition: transform 300ms ease-in-out;
    }

    li {
      padding: 10px 0;
      text-align: center;
    }

    a {
      color: #fff;
      font-size: 20px;
      text-decoration: none;

      &.active {
        border-bottom: 2px solid #fff;
      }
    }
  }

  .main-menu-wrapper {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint(sm) {
      display: inline-block;
    }

    li {
      display: block;

      @include breakpoint(sm) {
        display: inline-block;
      }

      &:last-of-type {
        padding-right: 0;
      }

      a {
        color: #fff;
        display: block;
        height: 100%;
        line-height: 45px;
        padding: {
          left: 20px;
          right: 20px;
        }
        text-decoration: none;

        &.active {
          background-color: #006899;
        }
      }
    }
  }
}
