// Colors
$body-text-color: #333;
$color-brand-blue: #328fc2;
$color-brand-purple: #650360;
$green: #bbd8c4;

// Fonts
$body-text-font: "Helvetica Neue", "Helvetica", verdana, arial, sans-serif;
// Layout
$container-width: 970px;
